{{#if movie}}

	<h1>{{movie.title}}</h1>
	<p><b>Director</b>: {{movie.director}}</p>
	<p><b>Runtime</b>: {{movie.runtime}}</p>
	<p><b>Plot</b>: {{movie.plot}}</p>
	<p><b>Starring</b>: {{movie.topCast}}</p>
	
{{else}}
	
	<h1>Not found</h1>
	<p>A movie with that id does not exist.</p>
	
{{/if}}