{{#if movie}}

<<<<<<< HEAD
<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	<h1>{{movie.name}}</h1>
	<p>{{movie.description}}</p>
=======
	<h1>{{movie.title}}</h1>
	<p><b>Release year</b>: {{movie.releaseDate}}</p>
	<p><b>Runtime</b>: {{movie.runtime}}</p>
	<p><b>Plot</b>: {{movie.plot}}</p>
	<p><b>Director</b>: {{movie.director}}</p>
	<p><b>Starring</b>: {{movie.topCast}}</p>
	<p><b>Genres</b>: {{movie.genre}}</p>
>>>>>>> 132240c349cf0fe521352b4f53404c81021fc6d5
	
{{else}}
	
	<h1>Not found</h1>
	<p>A movie with that id does not exist.</p>
	
{{/if}}