<div style="color: white;" class="text-center my-4">
	<h1>Movies</h1>
	<p>There are {{movies.length}} movies.</p>
</div>

<ul class="d-flex">
	<div class="row justify-content-center">
		{{#each movies}}
			<div class="card mx-2 my-2 col-3" style="width: 18rem; border-radius: 20px">
				<div class="card-body">
					<h5 class="card-title">{{title}} <span class="h6">({{releaseDate}})</span></h5>
					<p class="card-text">{{genre}} ·</p>
					<p class="card-text">{{runtime}}</p>
					<a class="btn btn-primary" style="border: 1px solid black;background-color: #0093E9; background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);" href="/movies/{{id}}">Read more</a>
				</div>
			</div>
		{{/each}}
	</div>
</ul>
