{{#if user}}
{{registerUser user.name}}
<div class="card col-10 mx-auto mt-3">
  {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
  <div class="card-body">
    <h1 class="card-title text-center">{{user.name}}</h1>
    <p><b>Email</b>: {{user.email}}</p>
    <p><b>Favorite movie</b>: <a href="/movies/{{user.favoriteMovieID}}">{{user.favoriteMovie}}</a></p>
    <h1>{{user.movieList}}</h1>
    <ul class="d-flex">
      <div class="row justify-content-center">
		{{#if user}}
			{{#each moviesInList}}
					{{checkMovie movieInListTitle moviesInListID creator}}
			{{/each}}
		{{/if}}
      </div>
    </ul>
  </div>
</div>


{{else}}

<h1>Not found</h1>
<p>A user with that id does not exist.</p>

{{/if}}